<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://i.postimg.cc/x1R61TmJ/Vibe-vault-1.png">
    <title>HiddenGem</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header-logo-container">
            <a href="/">
                <img class="logo-image" src=" https://i.postimg.cc/x1R61TmJ/Vibe-vault-1.png" alt="logo"/>
                </a>
        </div>
        <nav>
            <ul>
                <li>placeholder</li>
                <li>placeholder</li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>