{% extends 'main_app/base.html' %}

{% block head %}
<!-- css link will go here once we start getting it styled -->
{% endblock %}

{% block content %}
{% if not user.is_authenaticated %}
<section class="logo-container">
    <div class="home-conatiner"> <!-- this is just a place holder until we can style the page and get a better naming for the container-->
        <div class="content-container">
            <h1>HIDDENGEM</h1>
            <h3>Local Gems, Purely Authentic Finds.</h3>
            <a href="{% url 'signup' %}" class="btn">JOIN NOW</a>
            
        </div>
        <div class="header_image">
        <img src="https://i.postimg.cc/J0W0kr3R/Untitled-design-16.png" alt="home logo image"/>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}