{% extends 'main_app/base.html' %}

{% block head %}
<!-- css link will go here once we start getting it styled -->
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<section class="logo-container">
    <div class="home-conatiner"> <!-- this is just a place holder until we can style the page and get a better naming for the container-->
        <div class="content-container">
            <h1>Welcome {{ user.username|upper }} !</h1>
            <h2>Your hidden gems:</h2>

            <form method="get">
                {{ filter.form.as_p }}
                <button class="btn" type="submit">Search</button>
            </form>

            {% for hiddengem in filter.qs %}
                
                <div>
                    <h3>{{ hiddengem.title }}</h3>
                    <p>{{ hiddengem.category }}</p>
                    <p>{{ hiddengem.location }}</p>
                    <p>{{ hiddengem.description }}</p>
                </div>
            {% empty %}
                <p> No Hidden Gems Found!</p>
                
            {% endfor %}

            
        </div>

    </div>
</section>

{% else %}

<section class="logo-container">
    <div class="home-conatiner"> <!-- this is just a place holder until we can style the page and get a better naming for the container-->
        <div class="content-container">
            <h1>HIDDENGEM</h1>
            <h3>Local Gems, Purely Authentic Finds.</h3>
            <a href="{% url 'signup' %}" class="btn">JOIN NOW</a>
            
        </div>
        <div class="header_image">
        <img src="https://i.postimg.cc/J0W0kr3R/Untitled-design-16.png" alt="home logo image"/>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}