{% extends 'main_app/base.html' %}

{% block head %}
<!-- css link will go here once we start getting it styled -->
{% endblock %}

{% block content %}
<section class="logo-container">
    <div class="home-conatiner"> <!-- this is just a place holder until we can style the page and get a better naming for the container-->
        <div class="content-container">
            <h1>Welcome to your homepage {{ user.username|upper }} !</h1>
            <h2>Your hidden gems:</h2>

            {% for hiddengem in hiddengems %}
                
                <div>
                    <h3>{{ hiddengem.title }}</h3>
                    <p>{{ hiddengem.category }}</p>
                    <p>{{ hiddengem.location }}</p>
                    <p>{{ hiddengem.description }}</p>
                </div>
                
            {% endfor %}

            
        </div>

    </div>
</section>

{% endblock %}