{% extends 'main_app/base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="  "/>
{% endblock %} 



{% block content %}
<section class="page-header">
  <h1>{{ hiddengem.title }} Details:</h1>

</section>

<section class="hiddengem-container">
    <div class="card-info">
        <div class="card-img-container">
            {% if  hiddengem.category == 'Food'%}
            <img src="https://i.postimg.cc/zXVmJXjH/2.png" alt="food art work"/>
            {% elif hiddengem.category == 'Drink' %}
            <img src="https://i.postimg.cc/TwY7CCN5/3.png" alt="drink art work"/>
            {% elif hiddengem.category == 'Park' %}
            <img src="https://i.postimg.cc/bYH6KG29/3.png" alt="park art work"/>
            {% elif hiddengem.category == 'Art' %}
            <img src="https://i.postimg.cc/2yh3KR50/4.png" alt="art art work"/>
            {% elif hiddengem.category == 'Attractions' %}
            <img src="https://i.postimg.cc/13pcN2cc/5.png" alt="attraction art work"/>
            {% elif hiddengem.category == 'Nightlife' %}
            <img src="https://i.postimg.cc/3JQB12rZ/6.png" alt="nightlife art work"/>
            {% elif hiddengem.category == 'Music' %}
            <img src="https://i.postimg.cc/C57zjyLX/7.png" alt="music art work"/>
            {% elif hiddengem.category == 'Theatre' %}
            <img src="https://i.postimg.cc/bJb6YgNs/Untitled-design-15.png" alt="theatre art work"/>
            {% else %}
            <img src="https://i.postimg.cc/q7TxZzYf/Untitled-design-14.png" alt="museum art work"/>
            {% endif %}
        </div>


        <h2 class="card-title">{{ hiddengem.title }}</h2>
        <p>{{ hiddengem.category }}</p>
        <p>{{ hiddengem.location }}</p>
        <p>{{ hiddengem.description }}</p>
        <p>by: {{ hiddengem.user }}</p>
        <a href="{% url 'hiddengem-update' hiddengem.id %}">
            <img src="https://i.postimg.cc/nLFJh7p1/4.png" alt="edit button"/>
        </a>
        <a href="{% url 'hiddengem-delete' hiddengem.id %}">
            <img src="https://i.postimg.cc/vmTGv9kZ/5.png" alt="delete button"/>
        </a>

    </div>

          
    <div class="comments-container">
        {% for comment in comments %}
        <div>
            <p>{{ comment.commenttext }} </p>
            <p>by: {{ comment.author }}</p>
            <br>
        </div>
        {% endfor %}

        <ul><a href="/hiddengems/{{ hiddengem.id }}/add-comment/">Add Comment</a></ul> 
    </div>


  
</section>
{% endblock %}