@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
.alef-regular {
    font-family: "Alef", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .alef-bold {
    font-family: "Alef", serif;
    font-weight: 700;
    font-style: normal;
  }
  

html {
    box-sizing: border-box;
    height: 100%;
    scroll-padding-top: [header-height] ;
}



*,
*::before,
*::after{
  box-sizing: inherit;
}

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Montserrat', 'Alef', sans-serif;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: var(--text-color);
    overflow: hidden;
  }

:root {
    --nav-bg: #E96842;
    --nav-bg-ff: black;
    --borders: #C4563B;
    --text-color: black;
    --link-hover-color: #A477B2;
    --button-bg: white;
    --button-bg-hover: white;
    --card-box-shadow: 5px 5px 6px -1px #aaa;
    --font-xtreme: 4.2rem;
    --font-xxl: 5.6rem;
    --font-xl: 2.4rem;
    --font-l: 1.8rem;
    --font-reg: 1.6rem;
    --card-border-radius: 6px;
}

header {
  width: 100%;
  background-color: #ffff;
  padding: 1rem 0;
  box-shadow: 0 2px 4px light grey;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-logo-container{
  padding: 0 2rem;
}

.page-header h1{
  font-size: var(--font-xxl);
  margin: 0;
  font-family: 'Montserrat';
}

.page-header h2 {
  font-size: var(--font-l);
}

.page-content {
  font-size: var(--font-reg);
  font-family: "Alef", serif;;
}

.logo-image {
  max-width: 80px;
  height: auto;
  display: block;
  padding: auto;
  }

nav {
  margin: 0 2rem;
}

nav ul {
 list-style: none;
 padding: 0;
 margin: 0;
 display: flex;
 align-items: center;
}

nav li {
  margin-left: 2rem;
  
}

nav a {
    background-color: var(--nav-bg);
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'alef-bold';
}

nav a:hover {
  background-color: var(--link-hover-color);
}

#logout-form button {
  background-color: var(--nav-bg);
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
  padding: 8px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: 'alef-bold';
}

#logout-form button:hover {
  background-color: var(--link-hover-color);
}


main {
  width: 100%;
  padding-top: 5rem;
  flex: 1;
  overflow-y: auto; 
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.a_btn {
background-color: var(--nav-bg);
 text-decoration: none;
 color: var(--text-color);
 font-weight: 500;
 font-size: 16px;
 transition: color 0.3s ease;
 padding: 8px;
 margin: 5px;
 border-radius: 20px;
 border: none;
 cursor: pointer;
 font-family: 'alef-bold';
}


.btn {
   background-color: var(--nav-bg);
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
  padding: 8px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: 'alef-bold';
}

@media only screen and (min-wwidth: 768px) {
  header {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    align-items: center;
  }

  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  nav,
  .header-logo-container {
    margin: 10px 0;
    padding: 0 15px;
  }

  .header-logo-container {
    padding-top: 3px;
  }

  nav {
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

  nav ul {
    flex-wrap: nowrap;
  }

  .header-logo-container {
    width: 213px;
  }

  .page-header h1 {
    font-size: var(--font-xtreme);
  }

  .page-header img {
    height: 50px;
    margin-left: 20px;
  }

  .page-header img:first-of-type {
    margin-left: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 55px);
  }

  header {
    margin: 20px 20px 0 20px;
    width: calc(100vw - 40px);
    max-width: 1920px;
    top: 20px;
    background-color: transparent;
    border-bottom: none;
  }

  nav,
  .header-logo-container {
    margin: 0;
    border: var(--borders);
    border-radius: 18px;
  }

  nav {
    margin-left: auto;
  }

  .header-logo-container {
    padding-top: 6px;
    width: 256px;
    height: 35px;
  }

}
