.main_unauth {
    margin:100px;
    display: flex;
}

.logo_container_unauthenticated {
    display: flex;
}

h1 {
    font-size: 50px;
    font-family: 'monsterrat' bold ;
    margin-bottom: 5px;
}

h3 {
    font-size: 15px;
    margin-top: 5px;
}

.home_container_unauthenticated {
    display: flex; 
    justify-content: space-between;
}

.content_container_unauthenticated {
    display: flex;
    flex-direction: column;
}

.homeimg {
    width: 400px;
    height: auto;
}

.a_btn {
  text-align: center;
}



/* .main_unauth {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 0;
    position: relative;

} */

.page_content-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.home_container_authenticated {
    margin-bottom: 25px;
    text-align: cetner;
}

.home_container_authenticated  h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
}

.content_container_authenticated{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    
}
.card img {
    width: 150px;
    height: auto;
    flex-shrink: 0;
}
.card h3 {
    margin: 0;
    font-size: 1.5em;
    padding: 0;
    line-height: 1.2;
}

.card h3 a {
    display: block;
    text-decoration: none;
    columns: inherit;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: var(--link-hover-color) solid 3px;
    border-radius: 20px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    padding: 5px;
    margin: 5px;
}
.card > * {
    flex: 1;
    min-width: 0;
    margin: 2px;
}

.allcards {
    display: content;
    margin: 0;


}