@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
.alef-regular {
    font-family: "Alef", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .alef-bold {
    font-family: "Alef", serif;
    font-weight: 700;
    font-style: normal;
  }
  


main {
    margin:100px;
    display: flex;
}

.logo_container_unauthenticated {
    display: flex;
}

h1 {
    font-size: 50px;
    font-family: 'monsterrat' bold ;
    margin-bottom: 5px;
}

h3 {
    font-size: 15px;
    margin-top: 5px;
}

.home_container_unauthenticated {
    display: flex; 
    justify-content: space-between;
}

.content_container_unauthenticated {
    display: flex;
    flex-direction: column;
}

.homeimg {
    width: 400px;
    height: auto;
}

.a_btn {
  text-align: center;
}